body {
    background-color: #000 !important;
    color: #FFF;
}

/** or center the body 
    If we didn't have a comma in the "figure div", 
    the style would only apply to <div> tags inside the <figure> tag... 
    but there is none.
**/

header,
nav,
footer {
    text-align: center;
}

table {
    margin: auto;
    padding-bottom: 20px;
}

#me {
    background-image: url('../img/juan_doe.png');
    border-radius: 50px;
    height: 500px;
    width: 600px;
}

footer {
    clear: left;
    /* stop or clear the floating*/
    font-size: .7em;
    color: #999;
}

nav a {
    /*links in th enav bar*/
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    /*remove underline*/
    color: white;
    /* default link color is blue*/
}

nav a:hover {
    /*pseudo class*/
    border-bottom: 2px orange solid;
    font-size: 2.0em;
    transition: .9s;
    /* slow the change*/
}

hr {
    height: 5px;
}

h1 {
    font-family: 'Pacifico', Bradley Hand ITC;
    font-size: 4.0em;
    margin-bottom: 0px
}

#welcomeText {
    padding-left: 20px;
    width: 200px;
}

td {
    padding: 5px;
    font-size: 1.3em;
    
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
    text-align: center;
}

ul {
    text-align: left;
    padding-left: 30%;
    font-size: 1.2em;
}
.hobby{
    color: yellow;
}

#content {
    text-align: center;
  
}
